extends layout

block content

  h1 是否已经完成了呢
  h2 标签
  p= thing.tag
  h3 内容
  p= thing.content
  
  h4 tips
    p 想做的事情完成了，留个纪念，不一定要删除
    
    form(method='POST' action='')
      div.form-group
        input#thingid.form-control(type='hidden',name='thingid', required='true', value=thing._id )

      button.btn.btn-primary(type='submit') 我完成啦