extends layout

block content

  h1 删除
  p= word.tag
  p= word.content
  
    p 在删除前要不要再考虑考虑呢?
    
    form(method='POST' action='')
      div.form-group
        input#wordid.form-control(type='hidden',name='wordid', required='true', value=word._id )

      button.btn.btn-primary(type='submit') 删除