---
layout: default
---

<!-- about.html -->
      {% if page.profile -%}
      <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
        {%- if page.profile.image %}
          {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

          {% if page.profile.image_circular %}
            {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
          {% else %}
            {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
          {% endif %}

          {% include figure.html
          path=profile_image_path
          class=profile_image_class
          alt=page.profile.image
          cache_bust=true -%}
        {% endif -%}
        {%- if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
        {%- endif %}
      </div>
      {%- endif %}

      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
            {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
          <div class="social_small">
          <div class="contact-icons">
            <a href="mailto:{{ site.email | encode_email }}" title="email"><i class="fas fa-envelope"></i></a> 
            <span class="divider" style="margin: 0 5px;"></span>
            <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
            <span class="divider" style="margin: 0 5px;"></span>
            <a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fab fa-github"></i></a>
            <span class="divider" style="margin: 0 8px;"></span>
            <a href="assets/pdf/example_pdf.pdf" title="Resume"><i class="fa-solid fa-file" style="font-size: 30px;"></i></a>
          </div>
          </div>
        </header>

        <article>

          <div class="clearfix">
            {{ content }}
          </div>
          <div style="margin-bottom: 20px;"></div>

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h2><a style="color: inherit;">News</a></h2>
            {%- include news.html limit=true %}
          {%- endif %}
          <div style="margin-bottom: 20px;"></div>

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a style="color: inherit;">Publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <!-- <div class="contact-note">
                {{ site.contact_note }}
              </div> -->

            </div>
          {%- endif %}
        </article>

</div>